/* GERAL */
* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/retangulo.png');
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/* FONTS */
h1 {
    color: #5D1277;   
    font-size: 35px;
}

h2 {
    color: #4F4F4F;
    font-size: 25px;
}

/* SEÇÃO SOBRE */
.secao-sobre {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}

.sobre-conteudo__img {
    margin-top: 80px;
    width: 100%;
    max-width: 233px;
}  
    
.sobre-conteudo {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.sobre-conteudo__redes-sociais {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 90px;
}

.sobre-conteudo__redes-sociais img {
    width: 87px;
    height: 86px;
    margin-left: 40px;
}

/*Media Query*/
@media screen and (max-width: 370px) {
    .secao-sobre {
        background-color: red;

    }
}

/*media query*/
/* quando a tela for menor que 400px, quero que o h1 tenha tamanho de 30px */

@media screen and (max-width: 400px) {
    
    h1 {
        font-size: 10px;
    }}


